<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <header>
      <div class="d-flex align-items-center" style="width: 23%;">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </div>
    </header>
    <div class="col-12 col-md-6">
    <div class="text-center">
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p class="text-center">
      <a href="/movies" class="btn btn-dark mx-auto">Listado de Películas</a></p>
    </div>
  </div>
  </body>
</html>
